
<div class="d-flex justify-content-around mt-3  " (click)="goToRequestList()">
  <a class="nav-link" >
  <div class="card border-dark mb-1 ml-2" style="max-width: 18rem;">
    <div class="card-header">Received Request</div>
  </div>
  </a>
  <a class="nav-link" >
  <div class="card border-dark mb-1  ml-2" style="max-width: 18rem;">
    <div class="card-header">treated Request</div>
  </div>
  </a>
</div>

<hr />

  <div class="mt-2 d-flex " (ngModel)="boards"   >

    <a class="nav-link shadow ml-2" *ngFor="let pow of boards" (click)="goToBoard(pow.id)">
      <img width="100" src="../../assets/kanbanboard.jpg"> <br>
      <button class=" btn  mr-2"  [value]="pow.id">{{pow.name}}</button>
    </a>
  </div>


<!-- <button (click)="openForm(form)" class=" btn bg-info mt-2  ml-2">add board</button> -->

<ng-template  #form let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Add Event </h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <form #Eventform="ngForm" (ngSubmit)="createNewBoard(Eventform);">

    <div class="form-group">
      <label for="title1">Board Name </label>
      <input type="text" class="form-control" id="title1" required name = "name" ngModel>
    </div>
      <div class="modal-footer d-flex justify-content-between ">
        <button type="button" class="btn btn-outline-secondary alert-danger" (click)="close()">
          close
        </button>

        <button class="btn bg-info"    >
          OK
        </button>
      </div>
    </form>

  </div>


</ng-template>
