<div class="d-flex mt-3  flex-row" name = "eventmodel" ngDefaultControl>
  <!--


  <div class="form-group"  >
    <label for="patientSelect">patients</label>
    <select class="form-control" id="patientSelect"   (ngModel)="patients"  [value]="doctors">
      <option *ngFor="let pow of patients" [value]="pow.id">{{pow.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="agentSelect"> Agents </label>
    <select class="form-control" id="agentSelect" (ngModel)="agents"  [value]="doctors" >
      <option *ngFor="let pow of agents" [value]="pow.id">{{pow.name}}</option>
    </select>
  </div>

  <div class="form-group"   >
    <label for="doctorSelect"> Doctors</label>
    <select class="form-control" id="doctorSelect" name="doctors"
            (ngModel) ="doctors" (change)="onChange($event.target)"  [value]="doctors" >
      <option *ngFor="let pow of doctors" name="pow.id" [value]="pow.id">{{pow.name}}</option>
    </select>
  </div>-->

  <div class="form-group" >
    <button class="btn btn-dark " (click)="newEvent(content)">new event </button>
</div>

</div>
<div >
  <full-calendar
    *ngIf="options"
    #fullcalendar
    [editable]="true"
    [events]="eventsModel"
    [resources] = "resources"
    [header]="options.header"
    [customButtons]="options.customButtons"
    (dateClick)="dateClick($event)"
    (eventDragStop)="eventDragStop($event)"
    [plugins]="options.plugins"
    (eventClick)="eventClick($event,contentbody)"
  ></full-calendar>



  <ng-template  #content let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Add Event </h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
      <form #Eventform="ngForm" (ngSubmit)="submitCompany(Eventform);">


        <div class="custom-control custom-radio ">
          <input type="radio"  (change)="handleChangeuserofTeam(Eventform)" id="customRadio1" name="customRadio" value="teams" class="custom-control-input"checked ngModel>
          <label class="custom-control-label" for="customRadio1"> to team</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio"  (change)="handleChangeuserofTeam(Eventform)" id="customRadio2" name="customRadio" value="users" class="custom-control-input" ngModel>
          <label class="custom-control-label" for="customRadio2">  to user</label>
        </div>



        <!-- here is list of user -->
        <div class="form-group mt-1 ml-1">
          <div class="ng-autocomplete w-auto">
            <ng-autocomplete
              [data]="options1"
              [searchKeyword]="keyword"
              (selected)='selectEvent($event)'
              (inputChanged)='onChangeSearch($event)'
              (inputFocused)='onFocused($event)'
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

              <ng-template  #itemTemplate let-item>
                <a  *ngIf="!teamchecked"  [innerHTML]="item.username"></a>
                <a  *ngIf="teamchecked"  [innerHTML]="item.title"></a>
              </ng-template>



            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>



         <!-- <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
             <mat-autocomplete  #auto="matAutocomplete" >
               <mat-autocomplete #auto="matAutocomplete">
                 <mat-option *ngFor="let option of options" [value]="option">
                   {{option}}
                 </mat-option>
               </mat-autocomplete>
                 <div *ngIf="teamchecked">
                     <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                       {{option}}
                     </mat-option>
                   </div>
                    <div *ngIf="userchecked">
                       <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                         {{option.username}}
                       </mat-option>
                     </div>


            </mat-autocomplete> -->
        </div>


        <div class="form-group">
          <label for="title1">Title</label>
          <input type="text" class="form-control" id="title1" required name = "title" ngModel>
        </div>


          <label>
            Date <br>
            <input  [owlDateTimeTrigger]="dt3" name = "date" [owlDateTime]="dt3" ngModel>
            <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
          </label> <br>
          <label>
            Time <br>
            <input name = time  [owlDateTimeTrigger]="dt4"  [selectMode]="'range'" [owlDateTime]="dt4" ngModel>
            <owl-date-time [pickerType]="'timer'"  #dt4></owl-date-time>
          </label>



            <br>

          <label>
            Color <br>
            <input [(colorPicker)]="color" name = "color" [style.background]="color" ngModel/>
          </label>




        <div class="modal-footer d-flex justify-content-between ">
          <button type="button" class="btn btn-outline-secondary alert-danger" (click)="close()">
            close
          </button>

          <button class="btn btn-success" >
            OK
          </button>
        </div>


      </form>
    </div>


  </ng-template>

  <ng-template  #contentbody let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Add Event </h5>

      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >





      <div class="d-flex flex-row">
        <p class="font-weight-bold text-capitalize"> title :  </p> <p class="font-weight-normal ">  {{selectedEvent.title}}</p>
      </div>
      <div class="d-flex flex-row">
        <p class="font-weight-bold text-capitalize"> receiver type :  </p> <p class="font-weight-normal ">  {{selectedEvent.receiver_type}}</p>
      </div>
      <div class="d-flex flex-row" *ngIf="selectedEvent.receiver_type == 'teams'">
        <p class="font-weight-bold text-capitalize"> receiver name  :  </p> <p class="font-weight-normal ">  {{selectedEventReceiver.title}}</p>
      </div>
      <div class="d-flex flex-row" *ngIf="selectedEvent.receiver_type == 'users'">
        <p class="font-weight-bold text-capitalize"> receiver name  :  </p> <p class="font-weight-normal ">  {{selectedEventReceiver.username}}</p>
      </div>
      <div class="d-flex flex-row">
        <p class="font-weight-bold text-capitalize"> start date  :  </p> <p class="font-weight-normal ">  {{selectedEvent.start}}</p>
      </div>
      <div class="d-flex flex-row">
        <p class="font-weight-bold text-capitalize"> type :  </p> <p class="font-weight-normal ">  {{selectedEvent.end}}</p>
      </div>











        <div class="modal-footer d-flex justify-content-between ">
          <button type="button" class="btn btn-outline-secondary alert-danger" (click)="close()">
            close
          </button>

          <button class="btn btn-success" >
            OK
          </button>
        </div>



    </div>


  </ng-template>
</div>

