
<div class="d-flex justify-content-center ">
<div class="list-group w-75" name="requests" ngDefaultControl>
  <div class="card border list-group-item m-2"  *ngFor="let request of requests">
    <div class="card-header"> <span class="badge badge-secondary">New</span>
      {{request.insured.username}}
    </div>
    <div class="card-body">
      <table class="table ">
        <thead>
        <tr>
          <th scope="col">code postal </th>
          <th scope="col">patient status </th>
          <th scope="col">firstname</th>
          <th scope="col">lastname </th>
          <th scope="col">phoneNumber</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th >{{request.insured.codePostale}}</th>
          <th >{{request.patientSocialStatus}}</th>
          <th >{{request.patientFirstname}}</th>
          <th >{{request.patientLastname}}</th>
          <th >{{request.insured.phoneNumber}}</th>


        </tr>

        </tbody>
      </table>
      <blockquote class="blockquote mb-0">

        <footer class="blockquote-footer" *ngFor="let act of request.acts" >{{act.type}}

        </footer>
      </blockquote>
      <a  class="  btn btn-primary float-right" (click)="OpenModalColumn( form , request.id)">execute</a>
    </div>
  </div>
</div>
</div>

<ng-template  #form let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">choose board  </h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <form #chooseBoard="ngForm" (ngSubmit)="execute(chooseBoard);">


      <div class="form-group">



      <!--<div class="custom-control custom-radio" *ngFor="let board of boardList">
        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
        <label class="custom-control-label" for="defaultUnchecked">{{board.name}}</label>

      </div>-->
        <div class="form-check"  *ngFor="let board of boardList">
          <input class="form-check-input"  (change)="checkedBoard(board.id)" type="radio" id="exampleRadios1-{{board.id}}" value='{{board.id}}' required name = "board"  ngModel>
          <label class="form-check-label" for="exampleRadios1-{{board.id}}">
            <h6>
            {{board.name}}</h6>
          </label>
          <div class="ml-3" *ngIf="boardIsSelectedid == board.id " >
            <div *ngFor="let column of columnsList" name = 'columnsList' ngDefaultControl>
            <input class="form-check-input" name = "column" value='{{column.id}}' id="exampleRadios1-{{column.id}}"  type="radio" ngModel required ngModel>
            <label class="form-check-label" for="exampleRadios1-{{column.id}}">
              {{column.name}}
            </label>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-between ">

        <button type="button" class="btn btn-outline-secondary alert-danger" (click)="close()">
          close
        </button>

        <button class="btn bg-success"    >
          OK
        </button>
      </div>
    </form>

  </div>


</ng-template>
