<div class="d-flex flex-row h-auto mt-3" cdkDropListGroup>
  <div  *ngFor="let column of fullBoard ; let i = index"  [attr.data-index]="i"  class=" card  h-auto ml-2 flex-nowrap" style="width: 18rem;">
    <div   class="card-header">
      <h5 class="card-title">{{column.name }} </h5>
    </div>
    <div  id="{{i}}"  cdkDropList
          [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event)"
            class="card-body h-auto">


      <div (click)="openTask(i , j , opentask)" *ngFor="let task of column.tasks; let j = index " cdkDrag>

        <div class="card text-dark  mb-3"     [ngStyle] ="{'background-color': task.color }" >
        <div class="card-header font-weight-bold ">{{task.title}}</div>
        <div class="card-body">
          <h5 class="card-title">{{task.assignedUser}}</h5>
          <p class="card-text">{{task.description}}</p>
        </div>
      </div>

      </div>

    </div>
    <button type="button" class="btn btn-light">add task</button>

  </div>
  <button (click)="OpenModalColumn(form)" class="align-self-start btn btn-success ml-2 ">add column</button>

</div>

<ng-template  #form let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Add Column </h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <form #Eventform="ngForm" (ngSubmit)="createColumn(Eventform);">

      <div class="form-group">
        <label for="title1">Column Name </label>
        <input type="text" class="form-control" id="title1" required name = "name" ngModel>
      </div>
      <div class="modal-footer d-flex justify-content-between ">
        <button type="button" class="btn btn-outline-secondary alert-danger" (click)="close()">
          close
        </button>

        <button class="btn bg-success"    >
          OK
        </button>
      </div>
    </form>

  </div>


</ng-template>



<ng-template  #taskform let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Add Event </h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <form #Eventform="ngForm"  (ngSubmit)="updateTask(Eventform);">

      <div class="form-group">
        <label for="title2">Title  </label>
        <input type="text" [(ngModel)]="openedTask.title" class="form-control" id="title2" required name = "title" >
      </div>




        <label for="employeeSelect"> <s></s> employee :</label>
        <select class="form-control  " id="employeeSelect"  (change)="assignUser($event.target)" name="assignedUser" ngModel  >
          <option *ngFor="let employee of employees" [ngValue]="employee    " >{{employee.username}}</option>
        </select>



      <div class="form-group">
        <label for="description">description</label>
        <textarea class="form-control" id="description" name = "description" rows="3"  [(ngModel)]="openedTask.description"></textarea>
      </div>


      <label>
        Color <br>
        <input [(colorPicker)]="color" name = "color" [style.background]="color" [(ngModel)]="openedTask.color"/>
      </label>



      <div class="modal-footer d-flex justify-content-between ">
        <button type="button" class="btn btn-outline-secondary alert-danger" (click)="close()">
          close
        </button>

        <button class="btn bg-success"    >
          save
        </button>
      </div>
    </form>

  </div>


</ng-template>


<ng-template  #opentask let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Task details </h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" >
    <div class="d-flex flex-row">
    <p class="font-weight-bold text-capitalize "> Title :  </p> <p class="font-weight-normal">   {{openedTask.title}}</p>
    </div>

      <div *ngIf="openedtaskAssignedUser" class="d-flex flex-row">
        <p class=" font-weight-bold text-capitalize"> employee :  </p> <p class="font-weight-normal">   {{openedtaskAssignedUser.username}}</p>
      </div>
      <div *ngIf="openedTask.description " class="d-flex flex-row">
        <p class="font-weight-bold text-capitalize"> description :  </p> <p class="font-weight-normal ">   {{openedTask.description}}</p>
      </div>
    <div *ngIf="openedTask.result " class="d-flex flex-row">
      <p class="font-weight-bold text-capitalize"> description :  </p> <p class=" font-weight-normal ">   {{openedTask.result}}</p>
    </div>

      <div class="d-flex flex-row">
          <p class="font-weight-bold text-capitalize"> type :  </p> <p class="font-weight-normal ">   {{openedAct.type}}</p>
      </div>
        <div class="d-flex flex-row">
      <p class="font-weight-bold text-capitalize"> quotation :  </p> <p class=" font-weight-normal ">   {{openedAct.quotation}}</p>
        </div>
          <div class="d-flex flex-row">
      <p class="font-weight-bold text-capitalize"> honorary :  </p> <p class=" font-weight-normal ">   {{openedAct.honorary}}</p>
          </div>
            <div class="d-flex flex-row">
      <p class="font-weight-bold text-capitalize"> tax id :  </p> <p class=" font-weight-normal">   {{openedAct.tax_ID}}</p>
            </div>
              <div class="d-flex flex-row">
      <p class="font-weight-bold text-capitalize"> conventional code :  </p> <p class=" font-weight-normal ">   {{openedAct.conventional_code}}</p>
              </div>
                <div class="d-flex flex-row">
      <p class="font-weight-bold text-capitalize"> act date :  </p> <p class=" font-weight-normal ">   {{openedAct.actDate}}</p>
                </div>

    <div *ngIf=" cannotExecuteWithoutAssignedUser " class="d-flex flex-row">
      <p class="text-danger"> cannot execute without assign it to user   </p>
    </div>
    <div *ngIf="! openedtaskAssignedUser " class="d-flex flex-row">
      <p class="text-danger"> ! can't execute without assigning an employee  </p>
    </div>

    <div class="mb-2">
      <label for="taskResult"> <s></s> Result :</label>
      <select class="form-control  " id="taskResult"  (change)="assignResult($event.target)" name="result" ngModel  >
        <option  value="APPROVED" > approved </option>
        <option  value="DISAPPROVED" > disapproved </option>
        <option  value="TODOCTOR" > to doctor </option>
      </select>

    </div>
    <div class="   d-flex justify-content-between mt-2 modal-footer">
      <button type="button" class="btn btn-outline-secondary alert-danger" (click)="close()">
        close
      </button>
      <div>
        <button type="button" class="btn btn-outline-info mr-2"  (click)="OpenModalTask(taskform)" >
          update
        </button>
        <button type="button" class="btn bg-success" [disabled]=" !openedtaskAssignedUser || !openedTaskResultIsTrue" (click)="execute()" >
          execute
        </button>
      </div>
    </div>
  </div>


</ng-template>
