<div class="d-flex flex-row h-auto mt-3" cdkDropListGroup>
  <div  *ngFor="let column of fullBoard ; let i = index"  [attr.data-index]="i"  class=" card  h-auto ml-2 flex-nowrap" style="width: 18rem;">
    <div   class="card-header">
      <h5 class="card-title">{{column.name }} </h5>
    </div>
    <div  id="{{i}}"  cdkDropList
          [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event)"
            class="card-body h-auto">


      <div  *ngFor="let task of column.tasks"   cdkDrag>
       <div class="card text-white  mb-3"     [ngStyle] ="{'background-color': task.color }" >
        <div class="card-header">{{task.title}}</div>
        <div class="card-body">
          <h5 class="card-title">{{task.assignedUser}}</h5>
          <p class="card-text">{{task.description}}</p>
        </div>
      </div>
      </div>

    </div>
    <button type="button" (click)="OpenModalTask(taskform,column.id)" class="btn btn-light">add task</button>

  </div>
  <button (click)="OpenModalColumn(form)" class="align-self-start btn btn-success ml-2 ">add column</button>

</div>

<ng-template  #form let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Add Column </h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <form #Eventform="ngForm" (ngSubmit)="createColumn(Eventform);">

      <div class="form-group">
        <label for="title1">Column Name </label>
        <input type="text" class="form-control" id="title1" required name = "name" ngModel>
      </div>
      <div class="modal-footer d-flex justify-content-between ">
        <button type="button" class="btn btn-outline-secondary alert-danger" (click)="close()">
          close
        </button>

        <button class="btn bg-success"    >
          OK
        </button>
      </div>
    </form>

  </div>


</ng-template>



<ng-template  #taskform let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Add Event </h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <form #Eventform="ngForm" (ngSubmit)="createTask(Eventform);">

      <div class="form-group">
        <label for="title2">Title  </label>
        <input type="text" class="form-control" id="title2" required name = "title" ngModel>
      </div>
      <label for="doctorSelect1"> Users</label>
      <select class="form-control" id="doctorSelect1"  name="assignedUser" ngModel  >
        <option *ngFor="let pow of doctors" [ngValue]="pow" >{{pow.name}}</option>
      </select>
      <div class="form-group">
        <label for="description">description</label>
        <textarea class="form-control" id="description" name = "description" rows="3" ngModel></textarea>
      </div>
      <label>
        Color <br>
        <input [(colorPicker)]="color" name = "color" [style.background]="color" ngModel/>
      </label>

      <div class="modal-footer d-flex justify-content-between ">
        <button type="button" class="btn btn-outline-secondary alert-danger" (click)="close()">
          close
        </button>

        <button class="btn bg-success"    >
          OK
        </button>
      </div>
    </form>

  </div>


</ng-template>
