<div class="w-100">

<div  class="m-2" >
  <button class="ml-2" type = "submit" (click)="employerformVisible()" class="btn btn-info">add employee</button>
<div [style.visibility]="visibileAddEmployee ? 'visible' : 'hidden'">

  <form #Eventform="ngForm" (ngSubmit)="submitEmployee(Eventform);">
    <div class="d-flex justify-content-between">

    <input  class= "form-control"  name="matricule" placeholder="matricule" type="text" ngModel>
    <input class= "form-control"  name="name" placeholder="name" type="text" ngModel>
    <input class= "form-control"  name="familyname" placeholder="firstname" type="text" ngModel>
    <input class= "form-control"  name="username" placeholder="username" type="text" ngModel>
    <input class= "form-control"  name="cin" placeholder="cin" type="text" ngModel>
    <input class= "form-control"  name="address" placeholder="address" type="text" ngModel>
    <input class= "form-control"  name="password" placeholder="password" type="text" ngModel>
      <button  type = "submit" class="btn btn-info">submit employee</button>
    </div>
  </form>
</div>
  <table class="table w-100 " >

    <thead>
    <tr>
      <th>matricule</th>
      <th>name</th>
      <th>firstname</th>
      <th>username</th>
      <th>cin</th>
      <th>address</th>
      <th>passwrod</th>
    </tr>
    </thead>
    <tbody>

    <tr  name = "employees" ngDefaultControl class="table-hover" *ngFor="let item of employees">
      <td>{{item.matricule}}</td>
      <td>{{item.name}}</td>
      <td>{{item.familyname}}</td>
      <td>{{item.username}}</td>
      <td>{{item.cin}}</td>
      <td>{{item.address}}</td>
      <td>{{item.password}}</td>
      <td><button class="btn btn-warning" (click)="deleteEmployee(item.id)">delete</button></td>
    </tr>
    </tbody>
  </table>

</div>
</div>
