<div class=" d-flex justify-content-center mt-3">
<div class="card bg-light " >
  <div class="card-header">Total revenue of 2020 </div>
  <div class="card-body">
    <h5 class="card-title">3078 </h5>
  </div>
</div>
</div>
<div class=" d-flex justify-content-center mt-3">

  <div class="col-lg-5 mr-3">
      <div class="card">
        <div class="card-header">
          number of income and outcome requests per day
        </div>
        <div class="card-body">
          <chart type="bar" [data]="data" [options]="options"></chart>
        </div>
      </div>
  </div>

  <div class="col-lg-5">
    <div class="card">
      <div class="card-header">
        percentage of result of act evaluation

      </div>
      <div class="card-body">
        <chart type="pie" [data]="data1" [options]="options1"></chart>

      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-3">

  <div class="col-lg-5 mr-3">
    <div class="card">
      <div class="card-header">
        Average of evaluated act per employee
      </div>
      <div class="card-body">
        <chart type="line" [data]="data2" [options]="options2"></chart>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="card">
      <div class="card-header">
        number of evaluated act per day
      </div>
      <div class="card-body">
        <chart type="bar" [data]="data3" [options]="options3"></chart>

  </div>
    </div>
  </div>

</div>
<div>





</div>-
<!--- <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        line
      </div>
      <div class="card-body">
        <chart type="line" [data]="data4" [options]="options4"></chart>
      </div>
    </div>
  </div>-->
