<div class="d-flex justify-content-around mt-2">

  <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Bar
        </div>
        <div class="card-body">
          <chart type="bar" [data]="data" [options]="options"></chart>
        </div>
      </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
         pie

      </div>
      <div class="card-body">
        <chart type="pie" [data]="data1" [options]="options1"></chart>

      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-around mt-2">

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        line
      </div>
      <div class="card-body">
        <chart type="line" [data]="data2" [options]="options2"></chart>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        Bar
      </div>
      <div class="card-body">
        <chart type="bar" [data]="data3" [options]="options3"></chart>

  </div>
    </div>
  </div>

</div>
<div class="d-flex justify-content-around mt-2">

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        line
      </div>
      <div class="card-body">
        <chart type="line" [data]="data4" [options]="options4"></chart>
      </div>
    </div>
  </div>



</div>
